__pycache__
logs/*
!logs/.gitkeep
pgadmin
a-db
broker_var/*
coordinator_var/*
druid_shared/*
historical_var/*
middle_var/*
router_var/*
!broker_var/.gitkeep 
!coordinator_var/.gitkeep 
!druid_shared/.gitkeep 
!historical_var/.gitkeep 
!middle_var/.gitkeep 
!router_var/.gitkeep 