__pycache__

pgadmin

app_airflow/app/logs/*
app_airflow/app/temp_test/*
!app_airflow/app/logs/.gitkeep
app_redis/*
!app_redis/.gitkeep

airflow.db
superset.db

app_airflow/app/airflow-webserver.pid
app_airflow/app/standalone_admin_password.txt

